<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de novedades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">Ejercito CRUD &#9876;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ListarNuevasIncorporaciones' %}">Nuevas incorporaciones <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'ListarArmasTomadas' %}">Armas tomadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'ListarHombresHeridos'  %}">Hombres heridos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'ListarHombresCaidos'  %}">Hombres caídos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'RegistroSoldado'  %}">Registro de soldados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'TomaDeArma'  %}">Selección de arma</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=" {% url 'Novedades'  %}">Registro de novedad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'logout'  %}">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <center>
        <h1>Ejercito CRUD</h1>
        <h3>Registro de novedades</h3>
        <form action="" method="post">

            <div class="form-group">
            <label for="nombre">Nombre del soldado</label>
            {% csrf_token %}
            <select name="nombre" id="nombre" required>
                {% for result in data %}
                <option value="{{ result.nombre }}">{{ result.nombre }}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                <label for="herido" for="herido">Herido</label>
                <input type="checkbox"  value="herido" id="herido" name="herido">
            </div>
            <div class="form-group">
                <label for="deceso" for="deceso">Deceso</label>
                <input type="checkbox"  value="deceso" id="deceso" name="deceso">
            </div>
        </div>
        <button type="submit" class="btn btn-dark mb-2">Registrar</button>
        </form>
    </center>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>